@model IEnumerable<Ario.CMS.Data.Models.Page>

@{
    ViewData["Title"] = "آرشیو خبرها";
}

<section class="category">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 text-left">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="/">خانه</a></li>
                            <li><a href="/Archive">آرشیو خبر ها</a></li>
                        </ol>
                        <h1 class="page-title mt-3">همه خبر ها</h1>
                        <p class="page-subtitle text-large mb-4">نمایش همه پست ها</p>
                    </div>
                </div>
                <div class="line mt-1"></div>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <article class="col-md-12 article-list">
                            <div class="inner">
                                <figure>
                                    <a href="/News/@item.PageID/@item.PageTitle">
                                        <img src="/PageImages/@item.ImageName">
                                    </a>
                                </figure>
                                <div class="details">
                                    <div class="detail text-right d-flex">
                                        <div class="time"><i class="fa fa-clock"></i>@item.CreateDate.ToShamsi()</div>
                                    </div>
                                    <h1 class="pt-0">
                                        <a href="/News/@item.PageID/@item.PageTitle">
                                            @item.PageTitle
                                        </a>
                                    </h1>
                                    <p>
                                        @item.ShortDescription.Trim().Replace("،", " ").Substring(0, 75) ...
                                    </p>
                                    <footer class="mt-2">
                                        <div>
                                            <div>@item.Visit بازدید</div>
                                        </div>
                                        <a class="btn btn-primary more" href="/News/@item.PageID/@item.PageTitle">
                                            <div>بیشتر</div>
                                            <div><i class="ion-ios-arrow-thin-left"></i></div>
                                        </a>
                                    </footer>
                                </div>
                            </div>
                        </article>
                    }
                </div>
            </div>
            <div class="col-md-12 col-lg-4 sidebar">
                <aside>
                    <div class="aside-body">
                        <figure class="ads">
                            <a href="#">
                                <img src="/WebSiteTemplate/images/ad.png">
                            </a>
                            <figcaption class="text-center">تبلغات</figcaption>
                        </figure>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
