@model IEnumerable<Ario.CMS.Data.Models.Page>

<aside class="mt-3">
    <h1 class="aside-title">
        محبوب ترین اخبار <a href="/Archive" class="all">
            مشاهده همه <i class="ion-ios-arrow-left"></i>
        </a>
    </h1>
    <div class="aside-body">
        @foreach (var item in Model)
        {
            <article class="article-mini">
                <div class="inner">
                    <figure>
                        <a href="/News/@item.PageID/@item.PageTitle">
                            <img src="/PageImages/@item.ImageName" alt="@item.PageTitle">
                        </a>
                    </figure>
                    <div class="padding">
                        <h1>
                            <a href="/News/@item.PageID/@item.PageTitle">@item.PageTitle (ArioCMS)</a>
                        </h1>
                    </div>
                </div>
            </article>
        }
    </div>
</aside>