@model IEnumerable<Ario.CMS.Data.Models.Page>

<!-- slider -->
<div class="news-slider border-radius">
    <div id="slider-one" class="owl-carousel">
        @foreach (var item in Model)
        {
            <div class="item">
                <img src="/PageImages/@item.ImageName">
                <div class="left-side">
                    <h2> <a href="">@item.PageTitle</a> </h2>
                    <p>
                        @Html.Raw(item.PageText)
                    </p>
                    <span> <i class="fa fa-calendar"></i> انتشار : @item.CreateDate.ToShamsi()</span>
                </div>
                <div class="clearfix"></div>
            </div>
        }
    <div class="item">
        <img src="https://cnet4.cbsistatic.com/img/sEhYa6Z6XL7iEcTGkeESiRb5ajI=/1200x675/2020/04/17/9e4fd5eb-524c-4884-88df-b39286c78c21/microsoft-1085.jpg" style="max-width: 97%">
        <div class="left-side">
            <h2> <a href="">به سایت ما خوش آمدید</a> </h2>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
            </p>
            <span> <i class="fa fa-calendar"></i> انتشار : 1399/10/29</span>
        </div>
        <div class="clearfix"></div>
    </div>
    </div>
</div>
<!-- End slider -->