@model IEnumerable<Ario.CMS.Data.Models.Page>

<!-- slider -->
<div class="owl-carousel owl-theme slide" id="featured">
    @foreach (var item in Model)
    {
        <div class="item">
            <article class="featured">
                <div class="overlay"></div>
                <figure>
                    <img src="/PageImages/@item.ImageName" alt="Sample Article">
                </figure>
                <div class="details">
                    <div class="category"><a href="category.html">@item.Visit بازدید</a></div>
                    <h1>
                        <a href="/News/@item.PageID/@item.PageTitle">
                            @item.PageTitle
                        </a>
                    </h1>
                    <div class="time">@item.CreateDate.ToShamsi()</div>
                </div>
            </article>
        </div>
    }
</div>
<!-- End slider -->