@model IEnumerable<Ario.CMS.Data.Models.PageGroups>

<li class="dropdown magz-dropdown">
    <a href="#">دسته بندی ها <i class="ion-ios-arrow-left"></i></a>
    <ul class="dropdown-menu">
        @foreach (var item in Model)
        {
            <li><a href="/Groups/@item.GroupID/@item.GroupTitle">@item.GroupTitle</a></li>
        }
    </ul>
</li>