@{
    ViewData["Title"] = "صفحه اصلی";
}

<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="headline">
                    <div class="nav" id="headline-nav">
                        <a class="right carousel-control" role="button" data-slide="next">
                            <span class="ion-ios-arrow-right" aria-hidden="true"></span>
                            <span class="sr-only">بعدی</span>
                        </a>
                        <a class="left carousel-control" role="button" data-slide="prev">
                            <span class="ion-ios-arrow-left" aria-hidden="true"></span>
                            <span class="sr-only">قبلی</span>
                        </a>
                    </div>
                    <div class="owl-carousel owl-theme" id="headline">
                        <div class="item">
                            <a href="#">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم <div class="badge">داغ !</div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی </a>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("Slider")
                <div class="line">
                    <div>آخرین اخبار</div>
                </div>
                @await Component.InvokeAsync("LatestPage")
                <div class="banner">
                    <a href="#">
                        <img src="/WebSiteTemplate/images/ads.png" alt="Sample Article">
                    </a>
                </div>
                <div class="line transparent little"></div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 trending-tags">
                        <h1 class="title-col">برچسب های برتر</h1>
                        <div class="body-col">
                            @await Component.InvokeAsync("TopTags")
                        </div>
                    </div>
                    @await Component.InvokeAsync("MostNewsForContent")
                </div>
                <div class="line top">
                    <div>کم بازدید ترین اخبار</div>
                </div>
                @await Component.InvokeAsync("LeastVisitedNews")
            </div>
            <div class="col-xs-6 col-md-4 sidebar" id="sidebar">
                <div class="sidebar-title for-tablet">سایدبار</div>
                @if (User.IsInRole("Admin"))
                {
                    @await Component.InvokeAsync("AdminCard")
                }
                @await Component.InvokeAsync("MostNews")
                <aside>
                    <div class="aside-body">
                        <form class="newsletter">
                            <div class="icon">
                                <i class="ion-ios-email-outline"></i>
                                <h1 class="text-center">خبرنامه</h1>
                            </div>
                            <div class="input-group">
                                <input type="email" class="form-control email" placeholder="ایمیل شما">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary"><i class="ion-paper-airplane mr-0"></i></button>
                                </div>
                            </div>
                            <p>برای دریافت آخرین اخبار، ایمیل خود را وارد کنید</p>
                        </form>
                    </div>
                </aside>
                <aside id="sponsored">
                    <h1 class="aside-title">اسپانسر ها</h1>
                    <div class="aside-body">
                        <ul class="sponsored">
                            <li>
                                <a href="#">
                                    <img src="/WebSiteTemplate/images/sponsored.png" alt="Sponsored">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/WebSiteTemplate/images/sponsored.png" alt="Sponsored">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/WebSiteTemplate/images/sponsored.png" alt="Sponsored">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/WebSiteTemplate/images/sponsored.png" alt="Sponsored">
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("PagesBeforeWeek")