@{
    ViewData["Title"] = "LockOut";
}

<div style="margin: 212px 50px">
    <div class="alert alert-danger">
        <h3>اکانت شما قفل شده است</h3>
        <p>اکانت شما به دلیل پنج بار ورود ناموفق قفل شده است، لطفا بعد از مدت پنج دقیقه دوباره وارد شوید</p>
    </div>
</div>
