<aside>
    <div class="aside-body mt-3">
        <div class="featured-author">
            <div class="featured-author-inner">
                <div class="featured-author-cover" style="background-image: url('/WebSiteTemplate/images/news/img15.jpg');">
                    <div class="badges">
                        <div class="badge-item"><i class="ion-star"></i> مدیر</div>
                    </div>
                    <div class="featured-author-center">
                        <figure class="featured-author-picture">
                            <img src="/WebSiteTemplate/images/news/user.png" alt="Sample Article">
                        </figure>
                        <div class="featured-author-info">
                            <h2 class="name">مدیر سایت</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>