@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ario CMS">
    <meta name="author" content="Kodinger">
    <meta name="keyword" content="CMS">
    <!-- Shareable -->
    <meta property="og:title" content="ArioCMS" />
    <meta property="og:type" content="article" />
    <title>@ViewData["Title"] - سایت خبری ArioCMS</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/WebSiteTemplate/scripts/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/WebSiteTemplate/css/bootstrap-rtl.min.css">
    <!-- Icons -->
    <link rel="stylesheet" href="/WebSiteTemplate/scripts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/WebSiteTemplate/scripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/WebSiteTemplate/scripts/fontawesome-5.0.8/css/fontawesome-all.min.css">
    <!-- Toast -->
    <link rel="stylesheet" href="/WebSiteTemplate/scripts/toast/jquery.toast.min.css">
    <!-- OwlCarousel -->
    <link rel="stylesheet" href="/WebSiteTemplate/scripts/owlcarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/WebSiteTemplate/scripts/owlcarousel/dist/assets/owl.theme.default.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/WebSiteTemplate/scripts/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="/WebSiteTemplate/scripts/sweetalert/dist/sweetalert.css">
    <!-- Custom style -->
    <link rel="stylesheet" href="/WebSiteTemplate/css/style.css">
    <link rel="stylesheet" href="/WebSiteTemplate/css/skins/all.css">
    <link rel="stylesheet" href="/WebSiteTemplate/css/demo.css">
</head>

<body class="skin-orange">
    <header class="primary">
        <div class="firstbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="brand">
                            <a href="/">
                                <img src="/WebSiteTemplate/images/ArioCMSLogo.jpg" alt="ArioCMS Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <form class="search" autocomplete="off" action="/search/search">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control"
                                           placeholder="جستجوی عبارت مورد نظر ...">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary">
                                            <a class="ion-search text-white"></a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="help-block mt-2">
                                <div>محبوب ترین ها : </div>
                                @await Component.InvokeAsync("TopTagsHeader")
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 text-right">
                        <ul class="nav-icons">
                            @if (!signInManager.IsSignedIn(User))
                            {
                 <li>
                    <a asp-controller="Account" asp-action="Register">
                        <i class="ion-person-add"></i>
                        <div>ثبت نام</div>
                    </a>
                </li>
                                <li>
                                    <a asp-controller="Account" asp-action="Login">
                                        <i class="ion-person"></i>
                                        <div>ورود</div>
                                    </a>
                                </li> }
                                            else
                                            {
                                <li>
                                    <a asp-controller="Account" asp-action="LogOff">
                                        <i class="ion-log-out"></i>
                                        <div>خروج</div>
                                    </a>
                                </li>
                                                <li>
                                                    <a href="/">
                                                        <i class="ion-at"></i>
                                                        <div>سلام @User.Identity.Name</div>
                                                    </a>
                                                </li>}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start nav -->
        <nav class="menu">
            <div class="container">
                <div class="brand">
                    <a href="#">
                        <img src="/WebSiteTemplate/images/ArioCMSLogo.jpg" alt="Magz Logo">
                    </a>
                </div>
                <div class="mobile-toggle">
                    <a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
                </div>
                <div class="mobile-toggle">
                    <a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
                </div>
                <div id="menu-list">
                    <ul class="nav-list">
                        <li class="for-tablet nav-title"><a>فهرست</a></li>
                        <li class="for-tablet"><a asp-controller="Account" asp-action="Login">ورود</a></li>
                        <li class="for-tablet"><a asp-controller="Account" asp-action="Register">ثبت نام</a></li>
                        <li><a href="/">خانه</a></li>
                        @await Component.InvokeAsync("MegaMono")

                        @await Component.InvokeAsync("CategoryMenu")

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="dropdown magz-dropdown">
                                <a href="#">
                                    مدیریت سایت <i class="ion-ios-arrow-left"></i>
                                </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Admin/Pages/Index"><i class="icon fa fa-newspaper-o"></i>مدیریت خبرها</a></li>
                                <li><a href="/Admin/PageGroups/Index"><i class="icon fa fa-archive"></i>مدیریت گروه ها</a></li>
                                <li><a asp-controller="ManageUser" asp-action="Index"><i class="icon fa fa-users"></i>مدیریت کاربران</a></li>
                                <li><a asp-controller="ManageRole" asp-action="Index"><i class="icon fa fa-universal-access"></i> مدیریت نقش ها</a></li>
                                <li class="divider"></li>
                            </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End nav -->
    </header>

    @RenderBody()



    <!-- Start footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="block">
                        <h1 class="block-title">درباره ما</h1>
                        <div class="block-body">
                            <figure class="foot-logo">
                                <h1 style="font-family: Arial; color: white">ArioCMS</h1>
                            </figure>
                            <p class="brand-description">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم ...
                            </p>
                            <a href="/home/aboutus" class="btn btn-magz white">
                                صفحه درباره ما <i class="ion-ios-arrow-thin-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="block">
                        <h1 class="block-title">
                            برترین برچسب ها <div class="left"></div>
                        </h1>
                        <div class="block-body">
                            @await Component.InvokeAsync("TopTagsFooter")
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    @await Component.InvokeAsync("LatestPagesFooter")
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 col-sm-6">
                    <div class="block">
                        <h1 class="block-title">دنبال کردن</h1>
                        <div class="block-body">
                            <p>ما را در شبکه های اجتماعی دنبال کنید</p>
                            <ul class="social trp">
                                <li>
                                    <a href="#" class="facebook">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-twitter-outline"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="youtube">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-youtube-outline"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="googleplus">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-googleplus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="instagram">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-instagram-outline"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tumblr">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-tumblr"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="dribbble">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="linkedin">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="skype">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-skype"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rss">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-rss"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="block">
                        <div class="block-body no-margin">
                            <ul class="footer-nav-horizontal">
                                <li><a href="/">خانه</a></li>
                                <li><a href="/home/aboutus">در باره ما</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        COPYRIGHT &copy; Ario 2021. تمام حقوق محفوظ است.
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- JS -->
    <script src="/WebSiteTemplate/js/jquery.js"></script>
    <script src="/WebSiteTemplate/js/jquery.migrate.js"></script>
    <script src="/WebSiteTemplate/scripts/bootstrap/bootstrap.min.js"></script>
    <script>var $target_end = $(".best-of-the-week");</script>
    <script src="/WebSiteTemplate/scripts/jquery-number/jquery.number.min.js"></script>
    <script src="/WebSiteTemplate/scripts/owlcarousel/dist/owl.carousel.min.js"></script>
    <script src="/WebSiteTemplate/scripts/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="/WebSiteTemplate/scripts/easescroll/jquery.easeScroll.js"></script>
    <script src="/WebSiteTemplate/scripts/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/WebSiteTemplate/scripts/toast/jquery.toast.min.js"></script>
    <script src="/WebSiteTemplate/js/demo.js"></script>
    <script src="/WebSiteTemplate/js/e-magz.js"></script>
    @RenderSection("Scripts", false)
</body>

</html>
