<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="قالب خبری Magz">
    <meta name="author" content="Kodinger">
    <meta name="keyword" content="قالب خبری، قالب اچ تی ام ال، قالب خبری مگز">
    <!-- Shareable -->
    <meta property="og:title" content="قالب خبری Magz" />
    <meta property="og:type" content="article" />
    <title>قالب خبری Magz</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/WebSiteTemplate/scripts/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/WebSiteTemplate/css/bootstrap-rtl.min.css">
    <!-- Icons -->
    <link rel="stylesheet" href="/WebSiteTemplate/scripts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/WebSiteTemplate/scripts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/WebSiteTemplate/scripts/fontawesome-5.0.8/css/fontawesome-all.min.css">
    <!-- Toast -->
    <link rel="stylesheet" href="/WebSiteTemplate/scripts/toast/jquery.toast.min.css">
    <!-- OwlCarousel -->
    <link rel="stylesheet" href="/WebSiteTemplate/scripts/owlcarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/WebSiteTemplate/scripts/owlcarousel/dist/assets/owl.theme.default.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/WebSiteTemplate/scripts/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="/WebSiteTemplate/scripts/sweetalert/dist/sweetalert.css">
    <!-- Custom style -->
    <link rel="stylesheet" href="/WebSiteTemplate/css/style.css">
    <link rel="stylesheet" href="/WebSiteTemplate/css/skins/all.css">
    <link rel="stylesheet" href="/WebSiteTemplate/css/demo.css">
</head>

<body class="skin-orange">
    <header class="primary">
        <div class="firstbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="brand">
                            <a href="index.html">
                                <img src="/WebSiteTemplate/images/logo.png" alt="Magz Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <form class="search" autocomplete="off">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control"
                                           placeholder="جستجوی عبارت مورد نظر ...">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary">
                                            <a class="ion-search text-white" href="search.html"></a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="help-block mt-2">
                                <div>محبوب ترین ها : </div>
                                <ul>
                                    <li><a href="#">کرونا</a></li>
                                    <li><a href="#">قیمت ارز</a></li>
                                    <li><a href="#">فوتبال</a></li>
                                    <li><a href="#">آلودگی هوا</a></li>
                                    <li><a href="#">برجام</a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 text-right">
                        <ul class="nav-icons">
                            <li>
                                <a href="register.html">
                                    <i class="ion-person-add"></i>
                                    <div>ثبت نام</div>
                                </a>
                            </li>
                            <li>
                                <a href="login.html">
                                    <i class="ion-person"></i>
                                    <div>ورود</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start nav -->
        <nav class="menu">
            <div class="container">
                <div class="brand">
                    <a href="#">
                        <img src="/WebSiteTemplate/images/logo.png" alt="Magz Logo">
                    </a>
                </div>
                <div class="mobile-toggle">
                    <a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
                </div>
                <div class="mobile-toggle">
                    <a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
                </div>
                <div id="menu-list">
                    <ul class="nav-list">
                        <li class="for-tablet nav-title"><a>فهرست</a></li>
                        <li class="for-tablet"><a href="login.html">ورود</a></li>
                        <li class="for-tablet"><a href="register.html">ثبت نام</a></li>
                        <li><a href="index.html">خانه</a></li>
                        <li class="dropdown magz-dropdown">
                            <a href="#">صفحات <i class="ion-ios-arrow-left"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">خانه</a></li>
                                <li><a href="element.html">عناصر طراحی</a></li>
                                <li class="dropdown magz-dropdown">
                                    <a href="#">صفحات دسترسی کاربر <i class="fa fa-angle-left"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="login.html">صفحه ورود</a></li>
                                        <li><a href="register.html">صفحه ثبت نام</a></li>
                                        <li><a href="forgot.html">صفحه فراموشی رمز عبور</a></li>
                                        <li><a href="reset.html">صفحه تغییر رمز عبور</a></li>
                                    </ul>
                                </li>
                                <li><a href="category.html">صفحه دسته بندی</a></li>
                                <li><a href="single-post.html">صفحه خبر</a></li>
                                <li><a href="search.html">صفحه جستجو</a></li>
                                <li><a href="contact.html">صفحه تماس با ما</a></li>
                                <li><a href="about.html">صفحه درباره ما</a></li>
                                <li class="dropdown magz-dropdown">
                                    <a href="#">خطا ها <i class="fa fa-angle-left"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="403.html">خطای ۴۰۳</a></li>
                                        <li><a href="404.html">خطای ۴۰۴</a></li>
                                        <li><a href="500.html">خطای ۵۰۰</a></li>
                                        <li><a href="503.html">خطای ۵۰۳</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown magz-dropdown">
                            <a href="category.html">دسته بندی ها <i class="ion-ios-arrow-left"></i></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown magz-dropdown">
                                    <a href="#">ورزشی <i class="fa fa-angle-left"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="category.html">والیبال</a></li>
                                        <li class="dropdown magz-dropdown">
                                            <a href="#">فوتبال <i class="fa fa-angle-left"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="category.html">لیگ برتر</a></li>
                                                <li><a href="category.html">لیگ جزیره</a></li>
                                                <li><a href="category.html">لالیگا</a></li>
                                                <li><a href="category.html">جام جهانی</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="category.html">بسکتبال</a></li>
                                        <li><a href="category.html">اتومبیل رانی</a></li>
                                    </ul>
                                </li>
                                <li><a href="category.html">سیاست</a></li>
                                <li><a href="category.html">فرهنگ و هنر</a></li>
                                <li><a href="category.html">سلامت</a></li>
                                <li class="dropdown magz-dropdown">
                                    <a href="#">اقتصاد <i class="fa fa-angle-left"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="category.html">بورس</a></li>
                                        <li class="dropdown magz-dropdown">
                                            <a href="#">قیمت سکه و ارز <i class="fa fa-angle-left"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="category.html">قیمت سکه</a></li>
                                                <li class="dropdown magz-dropdown">
                                                    <a href="#">قیمت ارز <i class="fa fa-angle-left"></i></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="category.html">دلار</a></li>
                                                        <li><a href="category.html">یورو</a></li>
                                                        <li><a href="category.html">یوهان</a></li>
                                                        <li><a href="category.html">درهم</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="category.html">قیمت نفت</a></li>
                                    </ul>
                                </li>
                                <li><a href="category.html">حوادث</a></li>
                            </ul>
                        </li>

                        <li class="dropdown magz-dropdown magz-dropdown-megamenu">
                            <a href="#">
                                مگامنو <i class="ion-ios-arrow-left"></i>
                                <div class="badge">ویژه</div>
                            </a>
                            <div class="dropdown-menu megamenu">
                                <div class="megamenu-inner">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <h2 class="megamenu-title">ویژه</h2>
                                                </div>
                                            </div>
                                            <ul class="vertical-menu">
                                                <li>
                                                    <a href="#">
                                                        <i class="ion-ios-circle-outline"></i> مگامنو یک ویژگی
                                                        جدید است
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="ion-ios-circle-outline"></i> این یک مثال
                                                        است
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="ion-ios-circle-outline"></i> برای ساخت زیر
                                                        منوها
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="ion-ios-circle-outline"></i> شما می توانید
                                                        آیتم اضافه کنید
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="ion-ios-circle-outline"></i> آیتم های شما</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <h2 class="megamenu-title">پست های جدید</h2>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <article class="article col-lg-4 mini">
                                                    <div class="inner">
                                                        <figure>
                                                            <a href="single-post.html">
                                                                <img src="/WebSiteTemplate/images/news/img10.jpg" alt="Sample Article">
                                                            </a>
                                                        </figure>
                                                        <div class="padding">
                                                            <div class="detail">
                                                                <div class="time">۲۷ اسفند ۱۳۹۸</div>
                                                                <div class="category">
                                                                    <a href="category.html">ورزشی</a>
                                                                </div>
                                                            </div>
                                                            <h2>
                                                                <a href="single-post.html">
                                                                    لورم ایپسوم متن ساختگی با
                                                                    تولید
                                                                    سادگی نامفهوم
                                                                </a>
                                                            </h2>
                                                        </div>
                                                    </div>
                                                </article>
                                                <article class="article col-lg-4 mini">
                                                    <div class="inner">
                                                        <figure>
                                                            <a href="single-post.html">
                                                                <img src="/WebSiteTemplate/images/news/img11.jpg" alt="Sample Article">
                                                            </a>
                                                        </figure>
                                                        <div class="padding">
                                                            <div class="detail">
                                                                <div class="time">۱۲ فروردین ۱۳۹۸</div>
                                                                <div class="category">
                                                                    <a href="category.html">سلامت</a>
                                                                </div>
                                                            </div>
                                                            <h2>
                                                                <a href="single-post.html">
                                                                    لورم ایپسوم متن ساختگی با
                                                                    تولید
                                                                    سادگی نامفهوم
                                                                </a>
                                                            </h2>
                                                        </div>
                                                    </div>
                                                </article>
                                                <article class="article col-lg-4 mini">
                                                    <div class="inner">
                                                        <figure>
                                                            <a href="single-post.html">
                                                                <img src="/WebSiteTemplate/images/news/img14.jpg" alt="Sample Article">
                                                            </a>
                                                        </figure>
                                                        <div class="padding">
                                                            <div class="detail">
                                                                <div class="time">۱۷ فروردین ۱۳۹۸</div>
                                                                <div class="category">
                                                                    <a href="category.html">گردشگری</a>
                                                                </div>
                                                            </div>
                                                            <h2>
                                                                <a href="single-post.html">
                                                                    لورم ایپسوم متن ساختگی با
                                                                    تولید
                                                                    سادگی نامفهوم
                                                                </a>
                                                            </h2>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="dropdown magz-dropdown magz-dropdown-megamenu">
                            <a href="#">
                                ستون بندی <i class="ion-ios-arrow-left"></i>
                            </a>
                            <div class="dropdown-menu megamenu">
                                <div class="megamenu-inner">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h2 class="megamenu-title">ستون ۱</h2>
                                            <ul class="vertical-menu">
                                                <li><a href="#">مثال ۱</a></li>
                                                <li><a href="#">مثال ۲</a></li>
                                                <li><a href="#">مثال ۳</a></li>
                                                <li><a href="#">مثال ۴</a></li>
                                                <li><a href="#">مثال ۵</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <h2 class="megamenu-title">ستون ۲</h2>
                                            <ul class="vertical-menu">
                                                <li><a href="#">مثال ۶</a></li>
                                                <li><a href="#">مثال ۷</a></li>
                                                <li><a href="#">مثال ۸</a></li>
                                                <li><a href="#">مثال ۹</a></li>
                                                <li><a href="#">مثال ۱۰</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <h2 class="megamenu-title">ستون ۳</h2>
                                            <ul class="vertical-menu">
                                                <li><a href="#">مثال ۱۱</a></li>
                                                <li><a href="#">مثال ۱۲</a></li>
                                                <li><a href="#">مثال ۱۳</a></li>
                                                <li><a href="#">مثال ۱۴</a></li>
                                                <li><a href="#">مثال ۱۵</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <h2 class="megamenu-title">ستون ۴</h2>
                                            <ul class="vertical-menu">
                                                <li><a href="#">مثال ۱۶</a></li>
                                                <li><a href="#">مثال ۱۷</a></li>
                                                <li><a href="#">مثال ۱۸</a></li>
                                                <li><a href="#">مثال ۱۹</a></li>
                                                <li><a href="#">مثال ۲۰</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="dropdown magz-dropdown">
                            <a href="#">
                                منوی کاربری <i class="ion-ios-arrow-left"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon fa fa-user"></i> پنل کاربری</a></li>
                                <li><a href="#"><i class="icon fa fa-heart"></i> علاقه مندی ها</a></li>
                                <li><a href="#"><i class="icon fa fa-comment"></i> نظرات</a></li>
                                <li><a href="#"><i class="icon fa fa-key"></i> تغییر رمز عبور</a></li>
                                <li><a href="#"><i class="icon fa fa-gears"></i> تنظیمات</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon ion-log-out mt-0"></i> خروج از حساب کاربری</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End nav -->
    </header>

    @RenderBody()



    <!-- Start footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="block">
                        <h1 class="block-title">درباره ما</h1>
                        <div class="block-body">
                            <figure class="foot-logo">
                                <img src="/WebSiteTemplate/images/logo-light.png" class="img-responsive" alt="Logo">
                            </figure>
                            <p class="brand-description">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم ...
                            </p>
                            <a href="about.html" class="btn btn-magz white">
                                صفحه درباره ما <i class="ion-ios-arrow-thin-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="block">
                        <h1 class="block-title">
                            برترین برچسب ها <div class="left">
                                <a href="#">
                                    مشاهده همه <i class="ion-ios-arrow-thin-left"></i>
                                </a>
                            </div>
                        </h1>
                        <div class="block-body">
                            <ul class="tags">
                                <li><a href="#">کرونا</a></li>
                                <li><a href="#">قیمت ارز</a></li>
                                <li><a href="#">دربی پایتخت</a></li>
                                <li><a href="#">واژگونی اتوبوس</a></li>
                                <li><a href="#">برجام</a></li>
                                <li><a href="#">قیمت سکه</a></li>
                                <li><a href="#">گوشی سامسونگ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="block">
                        <h1 class="block-title">خبرنامه</h1>
                        <div class="block-body">
                            <p>برای دریافت آخرین اخبار ایمیل خود را وارد کنید</p>
                            <form class="newsletter">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="ion-ios-email-outline"></i>
                                    </div>
                                    <input type="email" class="form-control email" placeholder="ایمیل شما">
                                </div>
                                <button class="btn btn-primary btn-block white">ثبت ایمیل</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="block">
                        <h1 class="block-title">آخرین خبر ها</h1>
                        <div class="block-body">
                            <article class="article-mini">
                                <div class="inner">
                                    <figure>
                                        <a href="single-post.html">
                                            <img src="/WebSiteTemplate/images/news/img12.jpg" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <h1>
                                            <a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a>
                                        </h1>
                                    </div>
                                </div>
                            </article>
                            <article class="article-mini">
                                <div class="inner">
                                    <figure>
                                        <a href="single-post.html">
                                            <img src="/WebSiteTemplate/images/news/img14.jpg" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <h1>
                                            <a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a>
                                        </h1>
                                    </div>
                                </div>
                            </article>
                            <article class="article-mini">
                                <div class="inner">
                                    <figure>
                                        <a href="single-post.html">
                                            <img src="/WebSiteTemplate/images/news/img15.jpg" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <h1>
                                            <a href="single-post.html">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                            </a>
                                        </h1>
                                    </div>
                                </div>
                            </article>
                            <article class="article-mini">
                                <div class="inner">
                                    <figure>
                                        <a href="single-post.html">
                                            <img src="/WebSiteTemplate/images/news/img16.jpg" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <h1>
                                            <a href="single-post.html">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                            </a>
                                        </h1>
                                    </div>
                                </div>
                            </article>
                            <a href="#" class="btn btn-magz white btn-block text-center">
                                مشاهده همه <i class="ion-ios-arrow-thin-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 col-sm-6">
                    <div class="block">
                        <h1 class="block-title">دنبال کردن</h1>
                        <div class="block-body">
                            <p>ما را در شبکه های اجتماعی دنبال کنید</p>
                            <ul class="social trp">
                                <li>
                                    <a href="#" class="facebook">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-twitter-outline"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="youtube">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-youtube-outline"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="googleplus">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-googleplus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="instagram">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-instagram-outline"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tumblr">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-tumblr"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="dribbble">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="linkedin">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="skype">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-skype"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rss">
                                        <svg>
                                            <rect width="0" height="0" />
                                        </svg>
                                        <i class="ion-social-rss"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="block">
                        <div class="block-body no-margin">
                            <ul class="footer-nav-horizontal">
                                <li><a href="index.html">خانه</a></li>
                                <li><a href="contact.html">تماس با ما</a></li>
                                <li><a href="about.html">در باره ما</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        COPYRIGHT &copy; MAGZ 2020. تمام حقوق محفوظ است.
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- JS -->
    <script src="/WebSiteTemplate/js/jquery.js"></script>
    <script src="/WebSiteTemplate/js/jquery.migrate.js"></script>
    <script src="/WebSiteTemplate/scripts/bootstrap/bootstrap.min.js"></script>
    <script>var $target_end = $(".best-of-the-week");</script>
    <script src="/WebSiteTemplate/scripts/jquery-number/jquery.number.min.js"></script>
    <script src="/WebSiteTemplate/scripts/owlcarousel/dist/owl.carousel.min.js"></script>
    <script src="/WebSiteTemplate/scripts/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="/WebSiteTemplate/scripts/easescroll/jquery.easeScroll.js"></script>
    <script src="/WebSiteTemplate/scripts/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/WebSiteTemplate/scripts/toast/jquery.toast.min.js"></script>
    <script src="/WebSiteTemplate/js/demo.js"></script>
    <script src="/WebSiteTemplate/js/e-magz.js"></script>
    @RenderSection("Scripts", false)
</body>

</html>
